body, html{ 
  height: 100%;
  width: 100%;
  margin: 0;   
}

.count-particles{ 
	background: #000022; 
	position: absolute; 
	top: 48px; 
	left: 0; 
	width: 100%; 
	color: #13E8E9; 
	font-size: .8em; 
	text-align: left; 
	text-indent: 4px; 
	line-height: 14px; 
	padding-bottom: 2px; 
	font-family: Helvetica, Arial, sans-serif; font-weight: bold; 
	border: solid 3px blue;
} 


.js-count-particlesn{ 
	font-size: 1.1em; 
} 

#stats, .count-particles{ 
	-webkit-user-select: none; 
	margin-top: 5px; 
	margin-left: 5px; 
} 

#stats{ 
	border-radius: 3px 3px 0 0; 
	overflow: hidden; 
} 

.count-particles{ 
	border-radius: 0 0 3px 3px; 
}

/*first section*/

#first_section{
	position: relative;
    height: 90%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(black, red);
}

#navbar {
	height: 100px;
	margin:0;
	padding: 0;
    width: 100%; 
    background: linear-gradient(red, black);
    text-align: center;
    color: white;
    z-index: 10;
}

#logo{
	position: fixed;
	float: left;
	margin-left: 3%;
	z-index: 11;
/*	margin:0;
	padding: 0;
	height:100%;
	width: 10%;*/
}

#hello{
	position: relative;
	top:95%;
	float: left;
	margin-left: 1%;
	z-index: 11;
	padding: 0;
	height:80px;
	width: 10%;
	z-index:9;
}


#hello img {
  height: 200%;
}

#navbar #github, #email{
	float: right;
	height: 100%;
	width: 100px;
}


.fixedtop{
  position: fixed;
  top: 0 !important;
  background: linear-gradient(
   to bottom, 
   rgba(0,0,0,1) 0%,
   rgba(0,0,0,1) 50%,
   rgba(0,0,0,0) 100%
) !important;
}

.hide{
	display: none;
}

/*second section*/

.second_section{
    height: 100%;
    width: 100%;
    background: linear-gradient(red, yellow);
}

.container-geo{
	position: relative;
	height: 100%;
	width: 100%;
	color: black;
	background: url(/images/space-noblur.png) no-repeat center center;
}

.container-geo img{
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

}

.container-geo #grad{
	position: relative;
	width: 20%;
	height: 100px;
	top: 80%;
	left: 40%;
	font-size: 30px;
	text-align: center;
	border: solid 3px;
}

/*upcoming sections*/

.third_section{
    height: 100%;
    width: 100%;
    background: linear-gradient(yellow, green);
}

.fourth_section{
    height: 100%;
    width: 100%;
    background: linear-gradient(green, blue);
}

.fifth_section{
    height: 100%;
    width: 100%;
    background: linear-gradient(blue, black);
}



