body, html {
  height: 100%;
    background-color: aqua;
    margin: 0;
}

#logo{
    position: absolute;
    top: 25%;
    left: 25%;
    height: 50%;
    width: 50%;   
    
}


#imglogo{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 25%;
    left: 25%;
    height: 25%;
    width: 50%;
    max-height: 50%;
    max-width: 50%;
}
